# í”„ë¡œì íŠ¸ - Movielens ì˜í™” ì¶”ì²œ ì‹¤ìŠµ
## <ëª©ì°¨>
#### STEP1. ë°ì´í„° ì¤€ë¹„ì™€ ì „ì²˜ë¦¬
#### STEP2. ë°ì´í„° ì¤€ë¹„ì™€ ì „ì²˜ë¦¬
#### ğŸ¤”íšŒê³ ğŸ¤”
#### Reference


# STEP1. ë°ì´í„° ì¤€ë¹„ì™€ ì „ì²˜ë¦¬

In [2]:
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [3]:
# 3ì  ì´ìƒë§Œ ë‚¨ê¹ë‹ˆë‹¤.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# ratings ì»¬ëŸ¼ì˜ ì´ë¦„ì„ countsë¡œ ë°”ê¿‰ë‹ˆë‹¤.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [5]:
# ì˜í™” ì œëª©ì„ ë³´ê¸° ìœ„í•´ ë©”íƒ€ ë°ì´í„°ë¥¼ ì½ì–´ì˜µë‹ˆë‹¤.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

- ì‚¬ìš©ì ì´ˆê¸° ì •ë³´ ì„¸íŒ…

In [ ]:
#ë‚´ê°€ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”
# ë³¸ì¸ì´ ì¢‹ì•„í•˜ì‹œëŠ” ì•„í‹°ìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë°”ê¿”ì„œ ì¶”ê°€í•˜ì…”ë„ ë©ë‹ˆë‹¤! ë‹¨, ì´ë¦„ì€ ê¼­ ë°ì´í„°ì…‹ì— ìˆëŠ” ê²ƒê³¼ ë™ì¼í•˜ê²Œ ë§ì¶°ì£¼ì„¸ìš”. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncÃ©']

# 'gabi'ì´ë¼ëŠ” user_idê°€ ìœ„ ì•„í‹°ìŠ¤íŠ¸ì˜ ë…¸ë˜ë¥¼ 30íšŒì”© ë“¤ì—ˆë‹¤ê³  ê°€ì •í•˜ê² ìŠµë‹ˆë‹¤.
my_playlist = pd.DataFrame({'user_id': ['gabi']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_idì— 'zimin'ì´ë¼ëŠ” ë°ì´í„°ê°€ ì—†ë‹¤ë©´
    data = data.append(my_playlist)                           # ìœ„ì— ì„ì˜ë¡œ ë§Œë“  my_favorite ë°ì´í„°ë¥¼ ì¶”ê°€í•´ ì¤ë‹ˆë‹¤. 

data.tail(10)       # ì˜ ì¶”ê°€ë˜ì—ˆëŠ”ì§€ í™•ì¸í•´ ë´…ì‹œë‹¤.

# STEP2. ë¶„ì„í•˜ê¸°
- ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì˜í™” ê°œìˆ˜
- ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì‚¬ìš©ì ìˆ˜
- ê°€ì¥ ì¸ê¸° ìˆëŠ” ì˜í™” 30ê°œ(ì¸ê¸°ìˆœ)

In [6]:
ratings['movie_id'].nunique()

3628

In [7]:
ratings['user_id'].nunique()

6039

In [10]:
movie_count = ratings.groupby('movie_id')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: user_id, dtype: int64

# ğŸ¤”íšŒê³ ğŸ¤”

|í‰ê°€ë¬¸í•­|ìƒì„¸ê¸°ì¤€|
|---|---|
|1. CSR matrixê°€ ì •ìƒì ìœ¼ë¡œ ë§Œë“¤ì–´ì¡Œë‹¤.|ì‚¬ìš©ìì™€ ì•„ì´í…œ ê°œìˆ˜ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì •í™•í•œ ì‚¬ì´ì¦ˆë¡œ ë§Œë“¤ì—ˆë‹¤.|
|2. MF ëª¨ë¸ì´ ì •ìƒì ìœ¼ë¡œ í›ˆë ¨ë˜ì–´ ê·¸ëŸ´ë“¯í•œ ì¶”ì²œì´ ì´ë£¨ì–´ì¡Œë‹¤.|ì‚¬ìš©ìì™€ ì•„ì´í…œ ë²¡í„° ë‚´ì ìˆ˜ì¹˜ê°€ ì˜ë¯¸ìˆê²Œ í˜•ì„±ë˜ì—ˆë‹¤.|
|3. ë¹„ìŠ·í•œ ì˜í™” ì°¾ê¸°ì™€ ìœ ì €ì—ê²Œ ì¶”ì²œí•˜ê¸°ì˜ ê³¼ì •ì´ ì •ìƒì ìœ¼ë¡œ ì§„í–‰ë˜ì—ˆë‹¤.|MFëª¨ë¸ì´ ì˜ˆì¸¡í•œ ìœ ì € ì„ í˜¸ë„ ë° ì•„ì´í…œê°„ ìœ ì‚¬ë„, ê¸°ì—¬ë„ê°€ ì˜ë¯¸ìˆê²Œ ì¸¡ì •ë˜ì—ˆë‹¤.|

# Reference