#02-1 숫자형
##숫자형은 어떻게 만들고 사용할까?
정수형/실수형/8진수와 16진수   
복소수   
- 복소수.real : 복소수의 실수 부분 리턴
- 복소수.imag : 복소수의 허수 부분 리턴
- 복소수.conjugate() : 복소수의 켤레복소수 리턴
- abs(복소수) : 복소수의 절댓값 리턴


##숫자형을 활용하기 위한 연산자
사칙연산 : +, -, *, /   
*** : x의 y제곱   
% : 나눗셈 후 나머지 반환   
// : 나눗셈 후 소수점 아랫자리 버리기   


---

#02-2 문자열 자료형
##<문자열은 어떻게 만들고 사용할까?>
문자열(String)이란?   
문자, 단어 등으로 구성된 문자들의 집합

1. 큰따옴표(")로 양쪽 둘러싸기
2. 작은따옴표(')로 양쪽 둘러싸기
3. 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기
4. 작은따옴표 3개를 연속(''')으로 싸서 양쪽 둘러싸기

왜 이렇게 다양할까?   
문자열 안에 작은 따옴표와 큰따옴표가 들어 있어야하는 상황이 발생하기 때문에!

###문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

1. 문자열 안에 작은 따옴표를 써야하는 경우 큰 따옴표로 들러싸야 함 -> 작은 따옴표로 둘러 쌀 경우 SyntaxError 구문 오류 발생   
2. 문자열 안에 큰 따옴표 써야하는 경우 작은따옴표로 둘러싸면 됨   
3. \(백슬러시) 이용해서 '와 "를 문자열 안에 포함 가능

###여러 줄인 문자열을 변수에 대입하고 싶을 때
1. 줄을 바꾸기 위해 이스케이프 코디'\n'삽입하기
<multiline = "Life is too short\n You need python">
2. 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""")이용

###이스케이프 코드
- ⭐\n : 문자열 안에서 줄을 바꿀 때 사용
- ⭐\t : 문자열 사이에 탭 간격을 줄 때 사용
- ⭐\\\ : 문자 \를 그대로 표현할 때 사용
- ⭐\\' : 작은따옴표(')를 그대로 표현할 때 사용
- ⭐\\" : 큰따옴표(")를 그대로 표현할 때 사용
- \r : 캐리지 리턴(줄바꿈 문자, 헌재 커서를 가장 앞으로 이동)
- \f : 폼 피드(줄바꿈 문자, 현재 커서를 다음 줄로 이동)
- \a : 벨 소리(출력 시 PC 스피커에서 '삑' 소리가 난다)
- \b : 백 스페이스
- \000 : 널 문자


##<문자열 연산하기>

1. 문자열 더해서 연결하기(Concatenation)   

head라는 '변수'와 tail라는 '변수'가 합쳐진 것

In [ ]:
head = "Python"
tail = "is fun!"
head+tail

'Pythonis fun!'

2. 문자열 곱하기
*는 문자열의 반복을 뜻함

In [ ]:
a="python"
a*2

'pythonpython'

3. 문자열 곱하기 응용

In [ ]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

##<문자열 인덱싱과 슬라이싱>
인덱싱(Indexing) => '가리킨다'
슬라이싱(Slicing) => '잘라낸다'

###문자열 인덱싱이란?
a="Life is too short, You need Python"   
위 소스 코드에서 변수 a에 저장한 문자열의 각 문자마다 번호를 매겨 보면 다음과 같다.   
L은 첫 번째 자리를 뜻하는 숫자 0, 중간 short의 s는 12가 됨.   
파이썬은 0부터 숫자를 세기에 문자열을 다음과 같이 바라본다.   
a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:'', ....   
- a[번호] : 문자열 내 특정한 값을 뽑아내는 역할 =>인덱싱

In [ ]:
a="Life is too short, You need Python"   
a[3]

'e'

###문자열 인덱싱 활용하기
문자열을 뒤에서부터 읽고 싶을 때는 마이너스(-) 기호를 붙이면 된다.   
a[-1]은 뒤에서부터 세었을 때 첫 번쨰 문자를 뜻함

In [ ]:
a="Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])

L
s
n

###문자열 슬라이싱이란?

In [ ]:
a="Life is too short, You need Python"
b=a[0]+a[1]+a[2]+a[3]
b

'Life'

단순하게 접근 가능하지만 훨씬 간결하게 작성 가능하다.   
바로 '슬라이싱(Slicing) 기법 활용   
a[시작 번호 : 끝 번호]  ❗ 이때 끝 번호는 포함되지 않는다.   
a[0:3]을 수식으로 나타내면 0 <= a < 3 과 같다.

In [ ]:
a="Life is too short, You need Python"
a[0:4]    #0부터 4까지의 문자를 뽑아내라.

'Life'

In [ ]:
a="Life is too short, You need Python"
print(a[19:])    #끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아냄
print(a[:17])    #시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아냄
print(a[:])    #시작 번호, 끝 번호 모두 생략하면 문자열의 처음부터 끝까지 뽑아냄
print(a[19:-7])    #19번째부터 -8번째까지를 말함

You need Python
Life is too short
Life is too short, You need Python
You need

###슬라이싱으로 문자열 나누기

In [ ]:
a="20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
weather

2001
0331

'Rainy'

###(번외)문자열 바꾸기

In [ ]:
#'Pithon'이라는 문자열을 'Python'으로 바꾸기
a = "Pithon"
a[1]='y'

TypeError: ignored

단순하게 접근하면 될 것 같지만 에러남!   
문자열의 요소값은 바꿀 수 있는 값이 아님   
(문자열, 튜플 등의 자료형은 그 요소값을 변경할 수 없다.   
따라서 immutable한 자료형이라고도 부른다.)   
이때 슬라이싱과 추가를 사용해서 진행!

In [ ]:
a = "Pithon"
a[:1]+"y"+a[2:]

'Python'

##<문자열 포매팅>
포매팅(Formatting) : 문자열 내 특정한 값을 바꿔주는 기법

###문자열 포매팅 따라 하기
1. 숫자 바로 대입   
%d : 문자열 포맷 코드(숫자)

In [ ]:
"I eat %d apples." %3

'I eat 3 apples.'

2. 문자열 바로 대입   
%s : 문자열 포맷 코드(문자열)   
참고로 대입할 문자열에도 큰따옴표나 작은따옴표로 묶어주어야 함

In [ ]:
"I eat %s apples." %"five"

'I eat five apples.'

3. 숫자 값을 나타내는 변수로 대입

In [ ]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

4. 2개 이상의 값 넣기   
콤마(,)로 구분하기!

In [ ]:
number = 3
day = "three"
"I eat %d apples. so I was sick for %s days." %(number, day)

'I eat 3 apples. so I was sick for three days.'

###문자열 포맷 코드
%s : 문자열(String)   
%c : 문자 1개(character)   
%d : 정수(integer)   
%f : 부동소수(floating-point)   
%o : 8진수   
%x : 16진수   
%% : Literal %(문자 %자체)   

3을 문자열 안에 삽입하려면 %d를 사용하고, 3.234를 삽입하려면 %f를 사용해야 한다. 하지만 %s를 사용하면 이런 것을 생각하지 않아도 된다. 왜냐하면 %s는 자동으로 % 뒤에 있는 값을 문자열로 바꾸기 때문이다.